# Prevents Yarn from adding the default 'v' prefix (e.g., v1.0.2) when Git tagging from: yarn version --patch
# In other words, we want our Git tags to instead be like: 1.0.2
version-tag-prefix ""

# If we don't want Yarn to create a Git commit & tag for us automatically,
# which we could then handle the Git tagging aspect differently via the "postversion" in `package.json`:
#version-git-tag false
